<div class="card">
  <%# 画像がある場合は表示する %>
  <% if prototype.image.attached? %>
    <%= link_to image_tag(prototype.image, class: :card__img ), prototype_path(prototype) %>
  <% else %>
    <p>No Image Available</p>
  <% end %>
 <div class="card__body">
 <%= link_to prototype.title, prototype_path(prototype),class: :card__titl %><!-- プロトタイプ名を表示 -->
<p class="card__summary">
  <%= prototype.catch_copy %> <!-- キャッチコピーを表示 -->
</p>
  <%= link_to prototype.user.name, user_path(prototype.user), class: :card__user %>
  </div>
</div>